# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Bb]uild[Ll]og.*

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
appsettings.json
!appsettings.example.json

# Output directories
output/
